body {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-family: sans-serif;
}

td {
  padding: 10px;
  border: 1px solid darkgray;
}

#slogan { 
  color: #aed6f1;
  font-style: italic; 
}

h2 {
  color: #C04B7F;
}

h3 {
  font-style: italic;
}
table {
  border: 1px solid pink;
  border-collapse: collapse;
}

tbody { 
  color: pink;
}

button { 
  background-color:#C04B7F;
  border: 1px solid lightpink;
  color: white;
}
thead {
  color: white;
  background: #aed6f1;
}

label {
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}